#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "uClinux/lattice mico32 Kernel Configuration"

# this setting fixes all other settings we want to have fixed
config LM32
	bool
	default y
	select CPU_MICO32

config MMU
	bool
	default n

config VGA_CONSOLE
	bool
	default n

config ZONE_DMA_FLAG
	int
	default 0

config GENERIC_IOMAP
	bool
	default y

config RWSEM_GENERIC_SPINLOCK
	bool
	default y

config GENERIC_FIND_NEXT_BIT
	bool
	default y

config GENERIC_HWEIGHT
	bool
	default y

config GENERIC_CALIBRATE_DELAY
	bool
	default y

config GENERIC_ALLOCATOR
	bool
	default y

config GENERIC_BUG
	bool
	default y

config GENERIC_HARDIRQS
	bool
	default y

config GENERIC_CLOCKEVENTS
	bool
	default n

config SELECT_MEMORY_MODEL
	bool
	default y

config FLATMEM_MANUAL
	bool
	default y

config FLATMEM
	bool
	default y

config FLAT_NODE_MEM_MAP
	bool
	default y

config FLAT_NODE_MEM_MAP
	bool
	default y

config NO_IOPORT
	bool
	default y

config GENERIC_HARDIRQS_NO__DO_IRQ
	bool
	default y

config APM_EMULATION
	bool
	default n

source "init/Kconfig"

source "arch/lm32/Kconfig.cpu"

menu "Executable file formats"

source "fs/Kconfig.binfmt"

endmenu

menu "Power management options"

config PM
	bool "Power Management support"
	help
	  Support processor power management modes

endmenu

source "net/Kconfig"

source "drivers/Kconfig"

source "fs/Kconfig"

source "arch/lm32/Kconfig.debug"

source "security/Kconfig"

source "crypto/Kconfig"

source "lib/Kconfig"
