menu "Processor, Board and Features"

choice
	prompt "LM32 platform"
	default PLAT_MILKYMIST

config PLAT_MILKYMIST
	bool "milkymist"
	help
	  Milkymist board.


endchoice

if (PLAT_MILKYMIST)
choice
	prompt "CPU"
	default CPU_MICO32

config CPU_MICO32
	bool "mico32"
	help
	  Lattice mico32 processor.
endchoice

choice
	prompt "Board Selection"
	default BOARD_XILINX_ML401

config	BOARD_XILINX_ML401
	bool "Xilinx ML401"

config	BOARD_MILKYMIST_ONE
	bool "Milkymist One"
endchoice
endif

config CPU_CLOCK
	int "CPU Clock [Hz] (integer)"
	default "100000000" if BOARD_XILINX_ML401
	default "100000000" if BOARD_MILKYMIST_ONE

config MEMORY_START
	hex "Physical memory start address (hex)"
	default "0x40000000"  if BOARD_XILINX_ML401
	default "0x40000000"  if BOARD_MILKYMIST_ONE

config MEMORY_SIZE
	hex "Physical memory size (hex)"
	default "0x04000000"  if BOARD_XILINX_ML401
	default "0x04000000"  if BOARD_MILKYMIST_ONE

config TEXT_OFFSET
	hex "Set the text offset in memory"
	default "0x40000000"  if BOARD_XILINX_ML401
	default "0x40000000"  if BOARD_MILKYMIST_ONE
	help
	  Define where the kernel will be loaded to and executed from.

config HZ
	int
	default 100

config EARLY_PRINTK
	bool "Early printk"
	default y
	help
	  This option enables special console drivers which allow the kernel
	  to print messages very early in the bootup process.

	  This is useful for kernel debugging when your machine crashes very
	  early before the console code is initialized. You should normally
	        say N here, unless you want to debug.

config LM32_HW_JTAG
bool "Disable kernel exception handling (enable JTAG debugging)"
	default n
	help
	  This option disables the exception handling within the kernel. It is
	  required to allow access with the JTAG debugger for kernel-level
	  debug access.

	  Your should normally say N here, unless you want to debug.
endmenu
